<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page in HTML with CSS Code Example</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dragndrop.css">

    <script src="https://cdn.jsdelivr.net/npm/web3@1.8.2/dist/web3.min.js"></script>
    <script type="text/javascript" src="/js/enableETH.js"></script>

</head>
<body>
<div class="box-form">
    <div class="left">
        <div class="overlay">
            <h1>Doc <br> Block.</h1>
            <p>Современная система <br> для верификации цифровых документов</p>
        </div>
    </div>


    <div class="right" id="right">
        <h5>Проверьте</h5>
        <div class="inputs">
            <div id="drop-zone">
                <span class="file-upload-text">Выберите файл или переместите его сюда</span>
                <input type="file" class="file-upload-input" id="file-input">
            </div>
        </div>
        <!--                <input type="file" id="myFile" name="filename">-->
        <button class="button" id="addDocument">Добавить файл</button>
        <button class="button" id="verifyDocument">Верифицировать файл</button>
        <button class="button" id="deleteDocument">Удалить файл</button>
        <button class="button" id="processDocument">Получить информацию о файле</button>
        <div id="verifyResult"></div>
        <div id="transactionResult"></div>
    </div>
</div>

</div>

<script type="text/javascript" src="/js/dragndrop.js"></script>
<script type="text/javascript" src="/js/consts/metaMaskConsts.js"></script>
<script type="text/javascript" src="/js/consts/docConsts.js"></script>

</body>
</html>
