<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <label for="uploadFile">Select file for uploading to blockchain</label>
    <input type="file" name="file" id="uploadFile">
    <input type="submit">
</form>
<form th:action="@{/check}" method="post" enctype="multipart/form-data">
    <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
    <label for="uploadFile">Select file for checking validity</label>
    <input type="file" name="file" id="checkFile">
    <input type="submit">
</form>
</body>
</html>