<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.8.2/dist/web3.min.js"></script>
    <script type="module" th:src="@{/js/ethereum.js}"></script>
</head>
<body>
<form>
    <input type="file" id="myFile" name="filename">
    <button type="button" id="addDocument">Process file</button>
    <button type="button" id="verifyDocument">Verify file</button>
    <button type="button" id="deleteDocument">Delete file</button>
    <button type="button" id="processDocument">Get doc info</button>
</form>
<div id="verifyResult"></div>
<div id="transactionResult"></div>
</body>
</html>